---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% assign visible_publications = site.publications | where_exp: "item", "item.published != false" | sort: "date" | reverse %}
{% assign publications_by_year = visible_publications | group_by_exp: "post", "post.date | date: '%Y'" %}

{% for year_group in publications_by_year %}
  {% assign year_items_by_date = year_group.items | sort: "date" | reverse %}
  {% assign year_items_with_priority = year_items_by_date | where_exp: "post", "post.sort_priority" | sort: "sort_priority" | reverse %}
  {% assign year_items_without_priority = year_items_by_date | where_exp: "post", "post.sort_priority == nil" %}
  {% assign ordered_year_items = year_items_with_priority | concat: year_items_without_priority %}
  <details class="publication-year" open>
    <summary>{{ year_group.name }} <span class="publication-year-count">({{ year_group.items | size }})</span></summary>
    {% for post in ordered_year_items %}
      {% include archive-single.html %}
    {% endfor %}
  </details>
{% endfor %}
